{% extends "base.html" %}
{% set active_page = 'contributors' %}

{% block container %}

<p>Following is a list of all the people that are involved in the darm project.</p>

<table class="table">
  <tbody>
    <tr><th>Jurriaan Bremer</th><th>Main Developer</th></tr>
    <tr><th>Valentin Pistol</th><th>Development, Bug Reports, Ideas</th></tr>
    <tr><th>Jonathan Tetteroo</th><th>Thumb2 Support</th></tr>
    <tr><th>Peter Geissler</th><th>All-round cool guy</th></tr>
  </tbody>
</table>

{% endblock %}
