{% extends "base.html" %}
{% set active_page = 'contact' %}

{% block container %}

<div class="jumbotron">
  <p class="lead">
    You can reach us using various communication channels. <br />

    To reach the <strong>community</strong>, consider going to the IRC channel or the Mailing List. <br />

    For private inquiries, please leave <a href="mailto:jurriaanbremer@gmail.com">me</a> an email.
  </p>
</div>

<br />

<h2>IRC</h2>
<p>
  The official IRC channel is <strong>#darm</strong> on <strong>irc.freenode.net</strong>.
</p>

<br />

<h2>Mailing List</h2>
<p>
  You can subscribe to the <strong>darm mailing list</strong> <a href="http://jbremer.org/mailman/listinfo/darm_jbremer.org">here</a>.
  Don't expect it to be very crowded or anything, but any questions you may have will be answered. <br />

  If you don't want to subscribe, but simply want to post an email to the mailing list, you can send an email to 
  <a href="mailto:darm@jbremer.org">darm@jbremer.org</a> (which is the address of the mailing list.)
  Do note that these emails will be manually approved, hence it may take more than a minute to get them on to the mailing list.
</p>

{% endblock %}
