{% extends "base.html" %}
{% set active_page = 'faq' %}

{% block container %}

<br />

<h2>Frequently Asked Questions.</h2> 

<br /><br />

<p class="lead">
  <strong>Q:</strong> When will there be Thumb2 support? <br />
  <strong>A:</strong> Soon. <br />
    &nbsp; &nbsp; &nbsp; &nbsp; (In other words, ARMv7 and Thumb are - almost entirely - finished.) <br /><br />

  <strong>Q:</strong> Can I leave a donation? <br />
  <strong>A:</strong> <a href="contact">Of course :)</a> <br /><br />
</p>

{% endblock %}
